@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Logikfabriken</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="content/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="content/css/logikfabriken.css" rel="stylesheet" />

</head>
<body>
    <div id="navigation" class="navbar-fixed">
        <nav class="grey lighten-5" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#start" class="brand-logo black-text">Logikfabriken</a>
                <ul class="right hide-on-med-and-down black-text">
                    <li><a href="#var-ide" class="black-text">Vår idé</a></li>
                    <li><a href="#vilka-ar-vi" class="black-text">Vilka är vi?</a></li>
                    <li><a href="#bli-en-av-oss" class="black-text">Bli en av oss!</a></li>
                    <li><a href="#vad-hander" class="black-text">Vad händer?</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav black-text">
                    <li><a href="#var-ide">Vår idé</a></li>
                    <li><a href="#vilka-ar-vi">Vilka är vi?</a></li>
                    <li><a href="#bli-en-av-oss">Bli en av oss!</a></li>
                    <li><a href="#vad-hander">Vad händer?</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse black-text"><i class="material-icons">menu</i></a>
            </div>
        </nav>

    </div>

    @RenderBody()

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Logikfabriken AB</h5>
                    <p class="grey-text text-lighten-4">Packhusplatsen 2, 411 13 Göteborg</p>
                    <p class="grey-text text-lighten-4">Telefon: +46 70 798 11 93</p>
                    <p class="grey-text text-lighten-4"> E-post daniel.kretz@logikfabriken.se</p>
                </div>
                <div class="col l3 s12 pin-bottom">
                    <a href="https://www.linkedin.com/company/logikfabriken-ab"><img src="content/img/logos/In-2C-48px-R.png" /></a>
                    <a href="https://www.instagram.com/logikfabriken/"><img src="content/img/logos/Instagram_App_Large_May2016.png" /></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright <a class="white-text text-lighten-3" href="http://logikfabriken.se">Logikfabriken</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="scripts/materialize/materialize.min.js"></script>
    <script src="scripts/init.js"></script>
    <script src="scripts/parallax.js"></script>

    @RenderSection("scripts", false);
</body>
</html>
