
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="start" class="parallax-container intro scrollspy">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <h5 class="header col s12 light white-text">"Ett nytänkande, roligt och kunskapsdrivet konsultbolag som har de anställda i fokus"</h5>
                <h1 class="header center white-text">True story!</h1>
            </div>
            <div class="row center">
                <a href="#vad-vill-vi" class="btn btn-large waves-effect waves-light teal lighten-1">Läs mer!</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="content/img/parallax-1.PNG" alt="Background"></div>
</div>


<div class="container scrollspy" id="vad-vill-vi">
    <div class="section  center-align">

        <h2>Vad vill vi?</h2>
        <p class="flow-text">
            Vår vision är att vara ett nischat IT-bolag med enbart handplockade seniora konsulter som levererar mervärde för våra kunder samtidigt som vi har roligt på kontoret. Målet är att växa organiskt med ett kontinuerligt fokus på företagskulturen och gemenskap. Logikfabriken vill vara ett bolag där kreativitet ges stort utrymme och tex. så erbjuds alla våra anställda Audrinos / Raspberry Pis tillsammans med alla tänkbara utvecklingsmiljöer i sann open-source anda. Allt för att kicka igång skapandeglädjen och kreativiteten inom oss.
        </p>
        <p class="flow-text">
            Hos logikfabriken ska alla våra konsulter ha 1:1 förhållande mellan lön och prestation. Det ska villkorslöst löna sig för våra anställa att göra ett bra jobb ute hos våra uppdragsgivare. Logikfabriken vill aldrig bli ett bemanningsföretag där de externa ägarnas vinstkrav år efter år urholkar de anställdas förmåner och begränsar årliga aktiviteter. Logikfabriken har råd att växa långsamt i den takt som krävs. Vi i ledningsgruppen kommer alltid på hel- eller deltid själva vara involverade i projekt ute hos våra kunder. Detta för att aldrig tappa fotfästet och glömma varför vi en gång valde att slå ihop våra egna enmansföretag till ett gemensamt bolag. Ett bolag som på riktigt har oss anställda i fokus. Ett bolag där vi själva har roligt och där vi lär oss av varandra och våra uppdragsgivare.
        </p>

    </div>
</div>


<div class="parallax-container intro scrollspy">
    <div class="section no-pad-bot center-align">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light white-text valign text-shadow">"Ett bolag där vi själva har roligt och där vi lär oss av varandra och våra uppdragsgivare"</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="content/img/Göteborg_in_moon_light.jpg" alt="Background"></div>
</div>






<div class="container scrollspy" id="vilka-ar-vi">
    <div class="section">

        <h2 class="center-align">Vilka är vi?</h2>

        <div class="row">
            <div class="col s2 m4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="content/img/team/david.jpg" class="activator" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">David Hadzic<i class="material-icons right">more_vert</i></span>
                        <p class="light">
                            VD / Arkitekt
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">contact_mail</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">call</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">David Hadzic<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>

            <div class="col s2 m4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="content/img/team/richard.jpg" class="activator" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Richard Lennartsson<i class="material-icons right">more_vert</i></span>
                        <p class="light">
                            Projektledare / Testledare
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">contact_mail</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">call</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Richard Lennartsson<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>

            <div class="col s2 m4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="content/img/team/daniel.jpg" class="activator" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Daniel Kretz<i class="material-icons right">more_vert</i></span>
                        <p class="light">
                            Arkitekt / Full-stackutvecklare
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">contact_mail</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">call</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Daniel Kretz<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>

            <div class="col s2 m4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="content/img/team/ludwig.jpg" class="activator" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Ludwig Weschke<i class="material-icons right">more_vert</i></span>
                        <p class="light">
                            Arkitekt / Full-stackutvecklare
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">contact_mail</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">call</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Ludwig Weschke<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>

            <div class="col s2 m4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="content/img/team/jesper.jpg" class="activator" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Jesper Lindberg<i class="material-icons right">more_vert</i></span>
                        <p class="light">
                            Arkitekt / Full-stackutvecklare
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">contact_mail</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">call</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Jesper Lindberg<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>

            <div class="col s2 m4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="content/img/team/eric.jpg" class="activator" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Eric Lindersson<i class="material-icons right">more_vert</i></span>
                        <p class="light">
                            Arkitekt / Full-stackutvecklare
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">contact_mail</i></a>
                        <a class="btn btn-floating btn-large waves-effect waves-light pink darken-1"><i class="material-icons">call</i></a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Eric Lindersson<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/content/img/Tram_in_Göteborg,_Sweden.jpg" alt="Unsplashed background img 3"></div>
</div>


<div class="container scrollspy" id="bli-en-av-oss">
    <div class="section  center-align">

        <h2>Bli en av oss!</h2>
        <p class="flow-text">
            Vi skippar löneförhandlingen. Du får själv bestämma vad du vill ha i lön. Ledsnat på inställda julfester då ägarnas vinstkrav ej uppnåtts? Drinkbiljetter på personalfesten som dessutom bara blir färre och färre med åren? Tröttnat på att inför löneförhandling å ena sidan höra ledningsgruppen prata om rekordår för att sedan mitt under lönesamtalet prata om sparkrav? Det har vi! Logikfabriken är ett nytänkande konsultbolag i sin renaste form. Din kunskap, ditt driv och engagemang ska vara till grund för din lön INTE externa ägares vinstkrav. Jobbar du mycket ska du tjäna mycket. Är du specialist ska du tjäna och verka som en specialist. Logikfabriken har ett öppet transparent lönesystem där det alltid tydligt framgår vad båda parter tjänar. Det ska vara öppna kort från första dagen utan hysch-hysch och hemligheter. Hos logikfabriken arbetar du likt en egenföretagare men du slipper allt krångel med revisorer, skatteverk, arbetsgivardeklarationer och bokslut. Det har vi folk utifrån som hjälper oss med. Vi ska göra det vi gör bäst. Utveckla nästa generations teknik tillsammans med våra uppdragsgivare. Vi kommer alltid satsa och tänka långsiktigt på dig men vi kommer även ställa motkrav på eget engagemang i din personliga utveckling. Hör av dig för ett möte eller häng med på nästa afterwork / hackathon / fotbollsfest så kan vi berätta mer om vilka vi är och vad vi står för.
        </p>

    </div>
</div>


<div class="container scrollspy center-align" id="vad-hander">
    <div class="section center-align">
        <h2>Vad händer?</h2>
        <div id="instagram-container">
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script src="~/scripts/instagram.js"></script>
}